.pageResource{
    display: flex;
    margin-inline: auto;
    justify-content: center;
}

.pageResource .containsDate{
    text-align: right;
}

.pageResource h1{
    color: rgb(41, 41, 41);
    font-family: 'Poppins', sans-serif;
}

.box1{
    display: flex;
    justify-content: space-between;
}
.box2{
    display: flex;
    align-items: center;
}

.calendar{
    border-radius: 5px;
    border: 1px solid;
}